/* Priscella Dolang */
/* Lab 15: AJAX */
/* 12/3/23 */

#output {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #2a405e;
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
}

#dogImage {
    width: 600;
    padding: 10px, 
}

