/* css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Default background color */
    color: #333; /* Default text color */
}

h1 {
    color: #0066cc; /* Default heading color */
}

button {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}
