/* Priscella Dolang */
/* Lab 10: JavaScript for the Web */
/* 11/15/23 */


/* Credit to Wes Modes: Canvas Page for Lab 10 */
.text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    font-family: sans-serif;
}

#output {
    padding: 10px;
    margin: 10px auto;
    border: solid 1px #2a405e;
    background-color: blanchedalmond;
    border-radius: 15px;
    min-height: 100px;
}

/* Bonus Task Credit to Wes Modes: https://wmodes.github.io/art101/lab10/index.html */
.text:nth-child(odd) {
    text-align: left;
}

.text:nth-child(even) {
    text-align: right;
}

.text:nth-child(odd) p {
    color: black;
    background-color: lightgray;
}

.text:nth-child(even) p {
    color: white;
    background-color: dodgerblue;
}